*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    margin-top:25px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;
}
.input-container{
    display: flex;
}

.input-text{
     padding: 12px 15px;
     border-radius: 10px;
     border-width: 1px;
     font-size: 15px;
     flex-grow: 1;
}
   
.send-button{
    background-color:rgb(25, 135, 84);
    color:white;
    padding: 12px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.user-sender{
    display: flex;
    justify-content: end;
    align-items:start ;
}

.robot-sender{
    display: flex;
    align-items:start ;

}

.chat-profile{
    width: 45px;
}

.chat-message{
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    max-width: 300px;
}



.app-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

} */